.form-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 10px; /* Adjust spacing as needed */
    right: 8px;   /* Adjust spacing as needed */
    background-color: #f4faff; /* Matching the email list background color */
    border: 2px solid #cce7ff; /* Slight border for clarity */
    border-radius: 8px;
    padding: 15px 15px;
    width: 450px; /* Adjust size as needed */
    height: fit-content;
    max-height:700px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for effect */
    z-index: 20;
  }
  .exitButton{
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 70%;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 1;
    background-color: #ff0000;
    color: white;
  }
  .exitButton:hover{
    background-color: rgb(199, 0, 0) !important;
  }

  
  .form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0078d7; 
  }
  
  .form-container input {
    width: 100%;
    padding: 8px;
    max-width: 440px;
    margin-bottom: 10px;
    border: 1px solid #cce7ff;
    border-radius: 4px;
    font-size: 14px;
  }
  textarea{
    resize: none;
    width: 100%;
    padding: 8px;
    max-width: 440px;
    margin-bottom: 10px;
    border: 1px solid #cce7ff;
    border-radius: 4px;
    font-size: 14px;
  }
  .form-container button:hover{
    background-color: blue
  }
  .newMailButton{
    /* position: absolute;
    top: 38%; */
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    text-align: center;
    
}
  .file-preview {
    max-height: 50px; /* Adjust the height as per your preference */
    overflow-y: auto; /* Allow scrolling if the list of files is too long */
    border: 1px solid #ccc; /* Optional: to give a border around the file list */
    padding: 5px;
  }
  
  .file-preview ul {
    padding: 0;
    margin: 0;
  }
  
  .file-preview li {
    list-style: none;
    padding: 3px 0;
  }

  .upload-button{
    margin: 10px;
    text-align: center;
    border : 10px;
    color : black !important;
  }
  .send-button{
    background-color: #117fda;
    color: white;

  }
  .send-button:hover{
    color: black;
  }
